### **Data File Reading in Jupyter Lab or NoteBook**

In [1]:
# importing all the required modules
import pandas as pd

In [9]:
# df = pd.read_csv("E:\datafile\iris.csv")
# df = pd.read_csv("E:\\datafile\\iris.csv")
# df = pd.read_csv("E:/datafile/iris.csv")
df = pd.read_csv("E:/datafile//iris.csv")
df.head()

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

In [3]:
df.tail()

     sepal_length  sepal_width  petal_length  petal_width    species
145           6.7          3.0           5.2          2.3  virginica
146           6.3          2.5           5.0          1.9  virginica
147           6.5          3.0           5.2          2.0  virginica
148           6.2          3.4           5.4          2.3  virginica
149           5.9          3.0           5.1          1.8  virginica

In [5]:
df.sample(5)

     sepal_length  sepal_width  petal_length  petal_width     species
36            5.5          3.5           1.3          0.2      setosa
130           7.4          2.8           6.1          1.9   virginica
13            4.3          3.0           1.1          0.1      setosa
80            5.5          2.4           3.8          1.1  versicolor
2             4.7          3.2           1.3          0.2      setosa

### **Data File Reading in Google Colab**

### Strategy Number - 1

In [ ]:
import pandas as pd
from google.colab import drive
drive.mount("/content/gdrive")

In [ ]:
df = pd.read_csv("/content/gdrive/My Drive/Colab Notebooks/iris.csv")
df.head()

### Strategy Number - 2

In [ ]:
from google.colab import files
uploaded = files.upload()

In [ ]:
import io
import pandas as pd
df = pd.read_csv(io.BytesIO(uploaded['PlayTennis.csv']))
df.head()